@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #d82624;
  --secondary-color: #2a2b2a;
  --gray-color: #706c61;
  --latte-color: #f8f4e3;
  --changpange-color: #eee0cb;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header > #top-header {
  top: 0;
  position: sticky;
}

#top-header {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  display: flex;
  height: 45px;
  background-color: var(--main-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  color: aliceblue;
}

#top-header img,
footer img {
  height: 24px;
}

#top-header a {
  color: aliceblue;
  text-decoration: none;
  font-style: italic;
}

#header-contact {
  display: flex;
  gap: 10px;
}

#header-contact div {
  gap: 5px;
  display: flex;
  align-items: center;
}

#header-sosmed {
  display: flex;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 5vw;
}

#header-sosmed img:hover {
  cursor: pointer;
}
#header-sosmed a {
  display: flex;
}
#header-sosmed a:hover {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 300ms ease-out;
}

nav a:hover {
  cursor: pointer;
  color: var(--main-color);
}
#button-det {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* #button-det a {
  text-decoration: none;
} */
.secondary-btn {
  transition: all 300ms ease-out;
  color: var(--secondary-color);
  text-decoration: underline;
}
.secondary-btn:hover {
  cursor: pointer;
  color: var(--main-color);
  transition: all 200ms ease-in;
  text-decoration: none;
}

#navigation .nav-menu > ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}

.default-button {
  display: flex;
  color: white;
  border-radius: 10px;
  background-color: #d82624;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  font-weight: bold;
  padding: 13px 20px;
  transition: all 300ms ease-out;
  text-decoration: none;
}
.default-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: all 300ms ease-in;
}

#page-judul {
  color: var(--latte-color);
  display: flex;
  padding: 30px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.44) 0%,
      rgba(0, 0, 0, 0.44) 100%
    ),
    url(../asset/img/box-culvet.jpg), lightgray 50% / cover repeat;
  background-size: cover;
}

#deskripsi {
  display: flex;
  margin: 5vh 10vw;
  gap: 20px;
}

#deskripsi img {
  height: 400px;
  width: 500px;
}

#deskripsi div {
  display: flex;
  flex: 1;
}

#deskripsi-img {
  display: flex;
  justify-content: end;
}

#deskripsi-txt {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  text-align: justify;
}

#deskripsi-txt h1 {
  font-size: 1.8rem;
}

#deskripsi-txt p {
  padding-right: 5vw;
}

#benefit {
  display: flex;
  margin: 10vh 10vw;
  gap: 50px;
}

#benefit > div {
  flex: 1;
  padding: 1vh 1vw;
}
#benefit h1 {
  font-size: 1.5rem;
  text-align: justify;
}
.desc-card {
  display: flex;
  border-radius: 6px;
  padding: 3vh 3vw;
  border: 1px solid rgba(0, 0, 0, 0.27);
  background: #fff;
  box-shadow: -7px 5px 0px 0px #d82624;
  transition: all 200ms ease-in;
}
.desc-card2 {
  display: flex;
  justify-content: start;
  border-radius: 6px;
  padding: 3vh 3vw;
  border: 1px solid rgba(0, 0, 0, 0.27);
  background: #fff;
  box-shadow: 5px 4px 0px 0px #d82624;
  transition: all 200ms ease-in;
}
.desc-card:hover,
.desc-card2:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in;
}
.container-city {
  transition: all 200ms ease-in;
}
.container-city:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in;
}
#kota {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
#row-1,
#row-2,
#row-3,
#row-4 {
  display: flex;
  gap: 10px;
}

.container-city {
  border: 1px solid var(--gray-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 2vh 2vw;
}

#detail-1 {
  display: flex;
  margin: 10vh 10vw;
  gap: 50px;
}
#detail-1 > div {
  flex: 1;
  padding: 1vh 1vw;
}

#detail-2 {
  display: flex;
  margin: 10vh 10vw;
  gap: 50px;
}
#detail-2 > div {
  flex: 1;
}
.detail-2-txt {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

#detail-3 {
  display: flex;
  justify-content: center;
}

#documentation-judul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#documentation-img {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 5vh 5vw;
}
#documentation img {
  height: 300px;
  transition: all 200ms ease-in;
}
#documentation img:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in;
  height: 300px;
}
.judul-section {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
  margin-top: 5vh;
}
.judul-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.8vh;
  background-color: #d82624;
}
footer {
  background-color: var(--main-color);
}
#information {
  display: flex;
  color: var(--latte-color);
  padding: 5vh 7vw;
  gap: 20px;
}
#information p {
  font-size: 1rem;
  font-weight: 400;
}
.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}
.footer-left p {
  margin: 2vh 0px;
}
.footer-center p {
  margin: 7px 0px;
  display: flex;
  gap: 10px;
}

.footer-logo img {
  background-color: #fff;
  border-radius: 7px;
  height: 7vh;
}

#copyright {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  color: var(--changpange-color);
  padding: 2vh 7vw;
  align-items: center;
}
#copyright p {
  font-size: 14px;
}
.developed {
  display: flex;
  align-items: center;
  gap: 10px;
}
.developed a {
  display: flex;
}

#soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3vh 0vw;
}
#soon h1 {
  font-weight: 500;
}

#sejarah {
  display: flex;
  margin: 10vh 10vw;
  gap: 30px;
}

#sejarah-kiri {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 10px;
}
#sejarah-kiri p {
  text-align: justify;
}
#sejarah-kanan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}
#sejarah-kanan img {
  height: 70px;
}
#sejarah-kanan p {
  text-align: center;
}

#loc-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid var(--gray-color);
  padding: 10px;
  background-color: white;
  gap: 20px;
  filter: drop-shadow(7px 10px 0px #d82624);
  width: 100%;
}
.topnav-child {
  position: absolute;
  z-index: 99;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  left: -999em; /* hide offscreen*/
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease, left 0s 0.3s;
  list-style: none;
  width: 200px;
  /* border-radius: 6px; */
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}
.topnav-child a {
  padding: 15px;
  text-decoration: none;
  display: block;
  float: none;
  /* color: #fff; */
}
.hasdrop {
  position: relative;
  float: left;
  z-index: 99;
}
.hasdrop:hover ul {
  left: 0;
  top: 100%;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease, left 0s;
}
.hasdrop:hover div {
  left: 0;
  top: 100%;
  opacity: 1;
  transition: top 0.3s ease, opacity 0.3s ease, left 0s;
}
.hasdrop ul,
.hasdrop ul a {
  display: block;
  float: none;
  white-space: nowrap;
}

.card {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid var(--secondary-color); */
  background-color: #fff;
  box-shadow: 0px 0px 8.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin: 2vh 0vw;
}
.card div > div {
  display: flex;
  gap: 20px;
  align-items: center;

  /* flex-direction: column; */
}
.card img {
  height: 200px;
  border-radius: 100px;
}
.proyek1 {
  display: flex;
  justify-content: start;
  padding-left: 8vw;
}
.proyek1 div {
  justify-content: start;
}
.proyek2 {
  display: flex;
  justify-content: end;
  padding-right: 8vw;
}
.proyek2 div {
  justify-content: end;
}
.proyek2 h1 {
  text-align: end;
}
#proyek {
  margin: 5vh 0px;
}
#rs > div {
  display: flex;
  flex-direction: column;
  gap: 0;
}
